@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap');


* {
	margin: 0;
	padding: 0;
	text-decoration: none;	
}
ul{
	list-style-type: none;
}

body{
	font-family: 'Lato', sans-serif;
	margin: 0;
    padding: 0;
    margin: 0 auto;
}

header{
	display: flex;
} 

.cabeçalho{
	background-color: #1c211f;
	height: 60px;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: center;

}
.logo{
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	margin: 5px;
	font-weight: 700;
	font-size: 20px;

}

.conteudo{
	margin-top: 0;
	width: 100%;
	height: 100%;

}
.capa{
	margin: 0 auto;
	width: 100%;
	height: 100%;	
	

}

.capa_imagem{
	margin: 0 auto;
	filter: opacity(30%);
	position: relative;
}

.capa_texto{
	position: absolute;
	top:20%;
	left: 20%;
	text-align: center;
	color: #000000;
}

.capa_imagem img{
	height: 928px;
	width: 100%;

}

.capa_alerta{
	font-size: 80px;
	font-weight: 900;
}

.capa_chamada{
	font-size: 47px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #ffffff;
	padding-top: 10px;
}

.capa_promocao{
	text-transform: uppercase;
	font-weight: 700;	
	padding-top: 20px;
}

.conteudoPrincipal{
	margin: 0;
	width: 100%;
	display: flex;
	top: 85%;
	justify-content:space-around;
	padding: 30px;
	position: absolute;
	top:85%;
	box-sizing: content-box;
	
}
.conteudoPrincipal_formulario{
	background-color: #000000;
	color: #ffffff;
	padding: 25px;
	width: 65%;
	
} 
/*.conteudoPrincipal_colecaoPrimeiro{
	background-color: #ffffff;

	width: 35%;
	padding: 30px;
	margin-left: 0px;
	
}
.conteudoPrincipal_colecao1 {
	padding-right: 30px;
	
	
}
.conteudoPrincipal_colecao1titulo{
	display: flex;
	text-transform: uppercase;
	align-items: center;
}


.conteudoPrincipal_colecao1texto{
	padding-left: 30px;
}

.conteudoPrincipal_colecaoSegundo{
	position: absolute;
	top: 75%;
	left: 65%;
	background-color: #ffffff;
	justify-content:space-around;
	padding: 30px;
}
.conteudoPrincipal_colecao2 ul{
	padding-top: 10px;
}

.conteudoPrincipal_colecao2titulo{
	display: flex;
	text-transform: uppercase;
	align-items: center;
}
.conteudoPrincipal_colecao2texto{
	padding-left: 30px;
}


.conteudoPrincipal_formulariocontainer input{
	
}
.conteudoPrincipal_formulariotitulo{
	font-size: 30px;
}
.conteudoPrincipal_formularioinfos{
	height: 40px;
}
.conteudoPrincipal_formularioinfos input {
	width: 130px;
}

*/
footer{
	
	position: absolute;
	top: 150%;
	padding: 30px;
	background: #000000;
	margin: 0;
	justify-content: center;
	color: #ffffff;
	width: 100%;
}
footer, img{
	justify-items: center;
	display:flex;
	
}